<div class="container" style="margin-top: 4.75rem !important;">
  <!-- Content -->
  <div>
    <% if @notifications != [] %>
      <% @notifications.each do |notification| %>
          <%= render "notification", notification: notification %>
      <% end %>
    <% else %>
      <div class="d-flex flex-column justify-content-center align-items-center" style="height: 30vh;">
        <span>No hay notificaciones pendientes</span>
        <%= link_to home_path, class: "btn-submit mt-5 d-flex align-items-center justify-content-center" do %>
          <span>VOLVER AL INICIO</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
