<h2>Olvidó su contraseña?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { "data-turbo": "false", method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                class: "log-in-input",
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, "Enviar link para resetear contraseña", class: "form-button mt-4 mb-5", style:"background: #207B6E" %>
  </div>
<% end %>

