<div class="card">
  <%= cl_image_tag horse.photos.first.key, class: "card-img-top" %>
  <div class="card-body">
    <h4 class="card-title"><%= horse.name.capitalize %></h4>
    <%= link_to "Ver más", horse_show_path(horse.id), class: 'btn btn-outline-primary btn-md' %>
    <div data-controller="favorite" data-favorite-horse-value="<%= horse.id %>">
      <button data-action="favorite#favorite" data-favorite-target="heart" class="btn btn-outline-danger btn-sm horse_heart_home">
        <i class="far fa-heart"></i>
      </button>
    </div>


  </div>
</div>

