<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to onboarding_path, class: "navbar-brand" do %>
        <%= image_tag 'follow-horse-logo-sin-texto.png' %>
      <% end %>
      <p class="navbar-title">Inicio</p>
    </div>

    <%= image_tag('search.png') %>
  </div>
</div>
