 <% if params[:registro] == "ok" %>
  <!-- Modal confirmacion registro -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" rol="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Turno agendado -->
          <div class="align-items-center">
            <i class="fa-regular fa-circle-check"></i>
            <h6>Tu registro fue realizado con exito</h6>
            <div class=" d-flex justify-content-between align-items-center mb-3">
                <%= link_to 'Continuar al inicio', home_path, class: "btn-keepgoing"  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container" style="height: 83vh;">
  <p>Home Page</p>
</div>




  <script>
     $(document).ready(function(){
        $("#exampleModal").modal('show');
    });
  </script>
