.auction_heart{
  border: none;
  background: none;
  padding: 0;
  color:white;
  font-size: 1.5rem;
}

.auction_heart_index{
  border: none;
  background: none;
  padding: 0;
  color:rgb(166, 197, 95);
  font-size: 1.5rem;
}

.auction_heart_home{
  border: none;
  background: none;
  padding: 0;
  color:rgb(166, 197, 95);
  font-size: 1.5rem;
}
