.card {
  height: 15.688rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.card .nombre {
  background: rgba(72, 100, 81, 0.49);
  width: 97%;
  height: 2.125rem;
}

.card .nombre span {
  font-family: 'Powerr';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FBFBFB;
  padding: 10px;
}

.card .link span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #207B6E;
}

.card .time-left {
  color: #BF3737;
}

.card .en-vivo {
  height: 1.375rem;
  background: #D83535;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.card h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
