.log-in-input {
  background: rgba(94, 153, 112, 0.06) !important;
  border-radius: 4px !important;
  border-bottom: 2px solid #207B6E !important;
  height: 3.5rem;
}

.form-input {
  border-bottom: 4px solid #207B6E !important;
  height: 2.313rem !important;
  border-radius: 4px !important;
  background: rgba(94, 153, 112, 0.06) !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #2B3336 !important;
}

.label-input {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2B3336;
}

.auction_start div, .auction_finish div {
  width: 55%;
}
