// GENERAL STYLE //

body {
  background: #F9F9F9;
}

a {
  text-decoration: none;
}

.container {
  margin-top: 5rem !important;
  margin-bottom: 5.25rem !important;
}

.container-body {
  background: #207B6E;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100vw;
}

.container-categorias {
  height: 86vh;
  background: rgba(46, 126, 98, 0.41);
  display: flex;
}

.container-categorias .background {
  background-repeat: no-repeat;
  width: 100%;
  height: 96vh;
  background-position: center;
  background-size: cover;
}

.slide1 p {
  font-family: $my-font;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FBFBFB;
  width: 195px;
}

.container-filter:before{
  background: #207B6E;
  content: '';
  /* width: 100%; */
  opacity: 0.4;
  /* display: block; */
  height: 100%;
  position: absolute;
  width: 100%;
}

// LOGO ANIMATION //
@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.logo-home {
  animation: appear 3s;
  animation-fill-mode: forwards;
}

// LOWER MENU //
.lower-menu li {
  background: #E7F3EF;
  height: 3rem;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(32, 123, 110, 0.5);
}

.lower-menu li a div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.lower-menu li a {
  width: 100%;
}

.lower-menu li img {
  height: 0.688rem;
  margin-right: 0.313rem;
}

.lower-menu span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #2B3336;
}

.link-bold{
  border-bottom: none !important;
  text-align: center;
}

.link-bold span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #207B6E;
}
