.section-title {
  font-family: $body-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #2B3336;
}

.section-subtitle{
  font-family: $body-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #2B3336;
}

.sub-links-section {
  // background: rgba(161, 206, 189, 0.2);
  background-color: #E3ECE9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 48px;
  display: flex;
}

.sub-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-link a{
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #838383;
  letter-spacing: 1.25px;
}

.sub-link-active a{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #207B6E;
}

.sub-link-active {
  border-bottom: 2px solid #207B6E;
}

.sub-links-section {
  margin-top: 3.75rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.text-ayuda {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
  color: #727272;
 }
