<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para recuperar la contraseña de tu cuenta en Follow. Puedes realizarlo siguiendo el link a continuación.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no fuiste quien solicitó este link, por favor, ignorá este mail.</p>
<p>Tu contraseña no será modificada hasta que ingreses en el link indicado y modifiques tu contraseña.</p>
